<%= link_to 'Back', posts_path %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= @post.content %>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<div class="row">
  <div class="col-sm-12">
    <% @post.tags.each do |tag| %>
      <span class="badge badge-warning"><%=tag.name%></span>
    <%end%>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12">
    <h2>Start Conversation</h2>
    <%= form_with url: comments_url, local: true, scope: "comment" do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>
      <div class="form-group">
        <label>Title</label>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>What do you want to say?</label>
        <%= form.text_area :content, class: "form-control" %>
      </div>
      <div>
        <%= form.submit %>
      <div>
    <% end %>
  </div>
</div>


<div class="row mt-3">
  <div class="col-sm-12">
    <h2>Conversations</h2>
  </div>
</div>
<% @post.comments.order("created_at desc").each do |comment| %>
  <div class="container">
    <div class="row card mb-3 p-2">
      <div class="col-sm-12">
        <header class=""><%= comment.title %> </header>
        <div ><%= comment.content %> </div>
        <footer class="text-muted mt-2">
          commented by <%= comment.user.username %> about <%= time_ago_in_words(comment.created_at) %> ago.
        </footer>
      </div>
    </div>
  </div>
<% end %>

