<% @posts.each do |post|  %>
  <div class="row"> 
    <div class="col-sm-12">
      <h2><%= link_to post.title, post_read_path(post) %></h2>
       <div>
        <span class="badge badge-warning">
          <%= link_to post.category.title, category_search_path(post.category.slug) %>
        </span>
        <span class="float-right">
          <%= back_link(params) %>
        </span>
      </div>
      <%= simple_format post.description %>
      <%= post.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      tags:
      <% post.tags.each do |tag| %>
        <span class="badge">
          <%= link_to tag.name, tag_search_path(tag.name) %>
        </span>
      <%end%>
    </div>
  </div>
  <hr/>
<%end%>