<% @posts.each do |post|  %>
  <div class="row"> 
    <div class="col-sm-12">
      <h2><%= post.title %></h2>
      <%= simple_format post.description %>
      <%= post.content %>
      <div>
        <span class="badge badge-warning">
          <%= link_to post.category.title, category_search_path(post.category.slug) %>
        </span>
        <span class="float-right">
          <%= back_link(params) %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% post.tags.each do |tag| %>
        <span class="badge"><%=tag.name%></span>
      <%end%>
    </div>
  </div>
  <hr/>
<%end%>