<!DOCTYPE html>
<html>
  <head>
    <title>CMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid">
      <div class='menu-container'>
        <div class="logo">
          <h4>CMS</h4>
        </div>
        <div class=''>
          <% if user_signed_in? %>
            <%=link_to "Sign out", destroy_user_session_path, method: :delete  %>
          <% else%>
            <%= link_to "Log In", new_user_session_path %> 
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <div class="container-fluid ml-2">
        <%= link_to "Posts", posts_path  %>
      </div>
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
